#main {
  font-size: 50px;
  /* position: absolute;
  left: 150px; */
}

#page1content {
  position: relative;
  padding-top: 17em;
}

#leftover {
  margin-top: 1em;
}

#page1 {
  color: white;
  background-image: url("../Images/try2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

#rightslide {
  margin-left: 350px;
  position: relative;
}
