#main {
  font-size: 50px;
}

#page1content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#leftover {
  margin-top: 1em;
}

#page1 {
  color: white;
  background-image: url("../Images/try2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

#rightslide {
  margin-left: 350px;
  position: relative;
}
