#main2 {
  color: rgb(78, 83, 119);
  font-size: 3.1em;
  margin-bottom: 2em;
}

#page2 {
  margin-top: 30em;
  position: relative;
  height: 55em;
}

#scroll {
  display: inline-block;
  width: 40%;
  height: 30em;
  overflow: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#slider {
  display: inline-block;
  width: 40%;
}

#scroll::-webkit-scrollbar {
  display: none;
}

#services div {
  height: 9em;
  max-width: 40em;
}

#icons {
  margin-right: 0.5em;
  position: relative;
  top: 0.1em;
}

div .sliderOption {
  margin: 0.5em 0;
  padding: 1em;
  top: 0px;
  position: relative;
  background-color: rgb(78, 83, 119);
  text-align: left !important;
}

.littleHeading:hover,
.sliderOption :hover,
.littleBody:hover {
  cursor: pointer;
}

.littleHeading {
  color: white;
  font-size: 30px;
}

/* */

#back1 {
  z-index: 1;
  background-repeat: no-repeat;
  position: absolute;
  background-size: 31.3em;
  background-image: url("../Images/up1.jpeg");
  height: 31.3em;
}

#front1 {
  position: relative;
  z-index: -1;
  background-size: 31.3em;
  background-image: url("../Images/down1.jpeg");
  background-repeat: no-repeat;
  height: 31.3em;
}

#back2 {
  z-index: 1;
  background-repeat: no-repeat;
  position: absolute;
  background-size: 31.3em;
  background-image: url("../Images/up2.jpg");
  height: 31.3em;
}

#front2 {
  position: relative;
  z-index: -1;
  background-size: 31.3em;
  background-image: url("../Images/down1.jpeg");
  background-repeat: no-repeat;
  height: 31.3em;
}

#back3 {
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 31.3em;
  height: 31.3em;
  position: absolute;
  background-image: url("../Images/up3.jpg");
}

#front3 {
  z-index: 0;
  background-size: 31.3em;
  background-repeat: no-repeat;
  background-image: url("../Images/down3.png");
  height: 31.3em;
  position: relative;
}

.slidecontainer {
  position: relative;
}

.slider {
  position: absolute;
  text-align: left;
  width: 31.3em;
  z-index: 1;
  bottom: 0em;
  height: 100%;
}

.slider {
  cursor: none;
}

#moveOnHover {
  position: relative;
}

#slider2 {
  height: 100%;
}

#img1 {
  display: block;
}

#img2,
#img3 {
  display: none;
}

#down_arrow {
  width: 25em;
  position: relative;
  bottom: 35em;
  z-index: -1;
  left: 18em;
}
