#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  transition: 0.5%;
  background-color: #ffff;
  transform: translate(-50%, -50%);
  overflow: auto;
  overflow-x: hidden;
  height: 76vh;
  border-radius: 30px;
  padding-top: 5em;
  color: rgb(78, 83, 119);
  text-align: -webkit-center;
  display: none;
}
#popup > button {
  background-color: white;
  border: none;
  width: 20%;
  color: rgb(78, 83, 119);
  position: relative;
  left: 45%;
  bottom: 15%;
}
#popup::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#popup {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
#popup > p {
  width: 80%;
  padding-bottom: 5em;
}
