@media only screen and (max-width: 480px) {
  #main {
    font-size: 36px;
  }

  .slidecontainer {
    display: none;
  }
  #services div {
    color: white;
    height: 9em;
    max-width: 21em;
    left: 6.5em;
    position: relative;
  }
  .littleBody {
    margin: 0 3em;
    display: table-caption;
    width: 18em;
  }
  #main2 {
    color: rgb(78, 83, 119);
    font-size: 2.4em;
    margin-bottom: auto;
    bottom: 13em;
    position: relative;
  }
  #scroll {
    height: unset;
    width: 80em;
    position: relative;
    bottom: 30.5em;
    right: 5em;
  }

  #page3_body {
    width: 20em;
    /* left: 38%; */
    /* top: 40px; */
    position: absolute;
    font-size: 15px;
    /* font-size: 13px; */
    color: rgb(78, 83, 119);
    margin: 1em -7em;
  }
  #page3_cards {
    /* margin: 1.5em 15em; */
    border-radius: 5px;
    /* position: relative; */
    height: 11em;
    background-color: white;
    color: rgb(78, 83, 119);
    margin: 1em 2em;
  }
  .page3_heading {
    margin: 1em auto;
  }
  #Testimonial > h1 {
    color: rgb(78, 83, 119);
    font-size: 1.5em;
  }
  #col {
    display: grid;
    /* margin: 0 auto !important; */
    /* width: 95%; */
    /* padding-bottom: 6em; */
    /* margin-left: 2em; */
  }
  #col1 {
    margin-left: unset;
    padding: 0em 0em;
  }
  #footerMain {
    width: 20em;
    margin: 0 auto;
  }
  #Pipeline {
    display: grid;
    margin: 0 3em;
  }

  #PipelineWrapper {
    height: unset;
  }
  #PipelineBody {
    width: 15em;
    /* height: 200px; */
    margin: 0 auto;
    color: rgb(78, 83, 119);
    margin-top: 0.5em;
    font-size: 15px;
  }
  #PipelineHeading {
    font-weight: bold;
    font-size: 24px;
    color: rgb(78, 83, 119);
    margin-top: 0.5em;
  }
  #PipelineCard0,
  #PipelineCard1,
  #PipelineCard2,
  #PipelineCard3,
  #PipelineCard4,
  #PipelineCard5 {
    display: inline-block;
    margin: 0.5em 0.5em;
    height: 8.5em;
    border-radius: 20px;
    padding: 0.5em;
    transition: 1.5s;
    width: 18em;
    background-color: white;
    opacity: 0.1;
  }
}

@media only screen and (max-width: 320px) {
  body {
    background-color: pink;
  }
  #services div {
    max-width: 16em;
    left: 6em;
  }
  .littleHeading {
    color: white;
    font-size: 20px;
  }
  .littleBody {
    margin: 0 2em;
    display: table-caption;
    width: 13em;
  }
}
